p{
    font-family: calibri;
    font-size: 150%;
    color: #0b0b0b
}
h{
    color: #0b0b0b;
    font-family: roboto;
}
.centertext{
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 100%;
    text-align: center;
}
#title{
    text-align: center;
    font-family: roboto;
    font-size: 200%;
    margin: 2%;
    font-weight: 300;
}
#main_para{
    font-family: calibri;
}
body{
    background-color: #f2f2f2;
    margin-left: 5%;
    margin-right: 5%;
}
#quote{
    font-size: 200%;
    text-align: center;
    font-family: roboto;
    font-weight: 300;
    #margin-right: 8%;
}
.heading{
    font-size: 150%;
    font-family: roboto;
    font-weight: 400;
    margin-bottom: auto;
}
.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-items: center;
    width: 50%;
}
#center{
    display: block;
    margin: auto;
    width: 100%;
}
#caption{
    text-align: center;
    font-size: 100%;
    font-family: monospace;
    font-style: italic;
}
#rectangle{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5%;
    background: #f2f2f2;
    aspect-ratio: 1/1;
    height: 150px;
    border-radius: 7px;
}
#circle{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5%;
    aspect-ratio:1/1;
    height: 150px;
    border-radius: 50%;
}
.cardshadow{
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2) , -5px -5px 10px rgba(255,255,255, 0.9);
}
.puddleshadow{
    box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.2) , inset -5px -5px 10px rgba(255,255,255, 0.9);
}
.leftbox{
    display: flex;
    float:left;
    width:40%;
}
.rightbox{
    float: right;
    width: 33%;
}
.middlebox{
    grid-auto-columns: 3;
}